<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a class="page-scroll" href="#intro">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ .Title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4">
		Built with <a href="https://gohugo.io">Hugo</a> and the
		<a href="//github.com/crakjie/landing-page-hugo">landing-page-hugo</a>
		theme.
            </div>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>
</html>
