<section id="skills">

<!-- Page Content -->
 {{ range $index, $element :=  .Data.Pages }}{{ if or (eq .Section "skills") (eq .Section "post") }}
    {{ if modBool $index 2 }}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ .Title }}</h2>
                    {{ .Content }}
                </div>
                {{ with .Params.img }}
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/{{ . }}" alt="">
                </div>
                {{ end }}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {{ else }}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ .Title }}</h2>
                    {{ .Content }}
                </div>
                {{ with .Params.img }}
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/{{ . }}" alt="">
                </div>
                {{ end }}
            </div>

        </div>
        <!-- /.container -->

    </div>
    {{ end }}
    <!-- /.content-section-b -->
    {{ end }}
{{ end }}

</section>
